.container_title_phrase {
  align-items: center;
  border-bottom: 1px solid rgb(199, 243, 96);
  border-top: 1px solid rgb(199, 243, 96);
  display: flex;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.title_us {
  color: rgb(116, 187, 45);
  font-size: 25px;
  text-align: center;
  width: 60%;
}

.images_about_us {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 70%;
}

.column_images_container {
  flex-direction: column;
  overflow: hidden;
}

.column_images {
  -webkit-transition: all 1s ease; /* Safari y Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -o-transition: all 1s ease; /* IE 9 */
  -ms-transition: all 1s ease; /* Opera */
  height: 185px;
  object-fit: cover;
  width: 98%;
}

.column_images:hover {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
}

.flex_image {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  height: 380px;
  width: 50%;
  object-fit: cover;
}

.flex_image:hover {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
}

.useful_phrases {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .container_title_phrase {
    width: 80%;
  }

  .title_us {
    width: 90%;
  }

  .images_about_us {
    width: 80%;
  }

  .useful_phrases {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .container_title_phrase {
    width: 90%;
  }

  .title_us {
    width: 95%;
  }

  .images_about_us {
    width: 90%;
  }

  .useful_phrases {
    width: 90%;
  }
}


@media screen and (max-width: 425px) {
  .container_title_phrase {
    width: 95%;
  }

  .title_us {
    width: 98%;
  }

  .images_about_us {
    width: 95%;
  }

  .useful_phrases {
    width: 95%;
  }
}
