.container_title_phrase {
  align-items: center;
  border-bottom: 1px solid rgb(199, 243, 96);
  border-top: 1px solid rgb(199, 243, 96);
  display: flex;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto; 
  width: 70%;
}

.title_us {
  color: rgb(116, 187, 45);
  font-size: 25px;
  text-align: center;
  width: 60%;
}

.images_about_us {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 70%;
}

.column_images_container {
  flex-direction: column;
  overflow: hidden;
}

.column_images {
  -webkit-transition: all 1s ease; /* Safari y Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -o-transition: all 1s ease; /* IE 9 */
  -ms-transition: all 1s ease; /* Opera */
  height: 185px;
  object-fit: cover;
  width: 98%;
}

.column_images:hover {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
}

.flex_image {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  height: 380px;
  width: 50%;
}

.flex_image:hover {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
}

.useful_phrases {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 70%;
}
