.titlenosotros{
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.imagenesspanosotros{
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.spanosotros3{
    width: 95%;
    height: 185px;
    object-fit: cover;
}

.spanosotros2{
    flex-direction: column;
}

.spanosotros{
    height: 380px;
    width: 50%;
}
