.sanctuary_title {
  color: rgb(116, 187, 45);
  font-size: 25px;
  margin-right: 50px;
  text-align: center;
  width: 90%;
}

.sanctuary_content {
  align-items: center;
  border-top: 1px solid rgb(199, 243, 96);
  border-bottom: 1px solid rgb(199, 243, 96);
  display: flex;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.golden_knights_images {
  display: flex;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.knight_of_athena {
  height: 23%;
  object-fit: cover;
  width: 33%;
}

.knight_of_athena:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  backface-visibility: visible; /*hace que se vea la parte de atras de la imagen cuando gire*/
  filter: drop-shadow(
    0 -6mm 25mm rgb(226, 2, 2)
  ); /* sirve para darle un sombreado a la imagen */
}
