.imagenesspa{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 800px;
    display: flex;   
}

.spaimagen{
    height:23%;
    width:33%;
    object-fit:cover;
}

.spaimagen:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    backface-visibility:visible; /*hace que se vea la parte de atras de la imagen cuando gire*/
    filter: drop-shadow(0 -6mm 25mm rgb(226, 2, 2)); /* sirve para darle un sombreado a la imagen */

}

.spacontenedor{
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 30px;
}

.titlespa{
    width: 20%;
}

.titlespacontenido{
    width: 70%;
}