.spa_images {
  display: flex;
  height: 320px;
}

.spa_picture {
  height: auto;
  object-fit: cover;
  width: 33.33%;
}

.spa_picture:hover {
  filter: opacity(0.3);
  transition: all 1s ease-in-out;
}

.container_philosophy_offers_schedules {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 70%;
}

.title_central_content {
  border-bottom: 1px solid rgb(230, 49, 17);
  color: rgb(116, 187, 45); /* el color que le coloco a la fuente */
  text-align: center;
}

.content_central {
  font-size: 14px;
  padding: 20px;
  text-align: justify;
  width: 30%;
}

.schedule_list {
  font-size: 14px;
  list-style: none;
  padding: 1px;
}
